<!DOCTYPE html>
<html>
<head>
  <title>Todo Backbone Rails Example</title>
</head>
<body>

<form action="<%= lists_path %>" method="post">
  Enter Your Caliper API Key:
  <input type="text" name="caliper_api_key" value="<%= session[:caliper_api_key] %>">
  <input type="submit" value="Start a new list!">
</form>

<a href="https://github.com/caliper-io/todo-backbone-rails"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

</body>
</html>